body{
    margin: 0;
    font-family: sans-serif;
    color: #000;
}
main{
    margin: auto;
    box-sizing: border-box;
    max-width: 1200px;
    /*min-height: 100vh;*/
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    background-color: #FFF;
}
    main *{
        box-sizing: border-box;
    }
    a{
        color: #555;
    }
    a:hover{
        color: tomato;
    }
    p{
        font-size: 12px;
    }


/*HEADER*/
header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    header #header-bar{
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 20px; 
        padding: 60px 30px 0;
    }
        header #header-bar > *{
            display: flex;
            flex: 1;
        }
        header #header-bar > .logo{
            position: relative;
            justify-content: start;
            animation-name: down-animation;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;	
        }
            header #header-bar > .logo a{
                display: flex;
                justify-items: center;
                align-items: center;
            }
            header #header-bar > .logo a:hover img{
                transform: scale(0.9);
            }
            header #header-bar > .logo img{
                transform: scale(1);
                height: 100%;
                max-height: 100px;
                width: auto;
                transition: all .15s ease-out;
            }
        
        header #header-bar a{
            text-decoration: none;
        }
        header #header-bar nav{
            position: relative;
            flex: 3;
            align-items: center;            
            animation-name: down-animation;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;	
        }
            header #header-bar nav ul{
                display: flex;
                flex: 1;
                gap: 20px;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            header #header-bar nav i{
                margin-right: 5px
            }
        header #header-bar .rrss{
            position: relative;
            justify-content: end;
            align-items: center;
            animation-name: down-animation;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;	
        }
            header #header-bar .rrss ul{
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                gap:20px;
            }
        header #header-content{
            display: flex;
            flex-basis: 250px;
            justify-content: center;
            align-items: end;
            color: rgba(255, 80, 50, 0.6)
        }
            header #header-content > h1{
                display: flex;
                flex-basis: 90%;
                padding-bottom: 50px;
                min-height: 150px;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: serif;
                font-weight: 100;
                background-color: rgba(0, 0, 0, 0.1);
                margin: 0;
                animation-name: up-animation;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;	
                overflow: hidden;
            }
/*END HEADER*/

/*CONTENT*/
article{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
    article > *{        
        display: flex;
    }
    article #content{
        flex-direction: row;
        flex: 5 1;
        gap: 20px;
        background-color: #CCC;
        flex-wrap: wrap;
        padding: 10px;
    }
        article #content > .element{
            background-color: #EEE;
            padding: 10px;
            flex-grow: 1 ;
            flex: 1 1 350px;
        }
        article #content > .element > .photo{
            background-position: center;
            background-size: cover;
            height: 210px;
            display: flex;
            align-items: end;
            color:yellow;
            padding: 4px;
            font-size: 10px;
        }
        article #content > .element > .title{
            color: white;
            background-color: rgb(255, 100, 90);
            margin-top: 5px;
            padding: 15px 5px 2px;
            font-weight: 200;
            text-transform: uppercase;
        }
        article #content > .element > .text{
            columns: 2;
        }
        article #content > .element > a{
            text-decoration: none;
            font-size: 12px;
        }
        article #content > #pager{
            text-align: center;
            flex: 1 1 100%;
        }
    article aside{
        flex: 1 3;
        flex-direction: column;
        background-color: #CCC;
        justify-content: start;
        padding: 20px;
        text-align: center;
    }
/*END CONTENT*/

/*FOOTER*/
footer {
    background-color: #EEE;
    border:20px solid #CCC;
    border-top: 0;
    border-bottom: 0;
    padding: 10px 0;
    text-align: center;
    color: #555;
}
footer > p{
    margin: 0;
}
/*END FOOTER*/

/*ANIMATIONS*/

@keyframes down-animation {
    0%   {
        top:-50px;
        opacity: 0;
    }
    100% { 
        top: 0;
        opacity: 1;
    }
}

@keyframes up-animation {
    0%   {
        opacity: 0;
        padding-bottom: 0px;
        min-height: 0px;
    }
    100% { 
        opacity: 1;
        padding-bottom: 50px;
        min-height: 150px;
    }
}


/*END ANIMATIONS*/

@media only screen and (max-width: 950px) {
    /*CONTENT*/
    article{
        flex-direction: column;
    }
        article #content > .element{
            flex-basis: 300px;
        }
        article #content > .element > .text{
            columns: 1;
        }
    /*END CONTENT*/
}

@media only screen and (max-width: 850px) {
    /*HEADER*/
    header #header-bar{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        padding: 60px 30px 0;
    }
        header #header-bar > .logo{
            justify-content: center;
        }
        header #header-bar > .rrss{
            justify-content: center;
        }
    /*FIN HEADER*/
}

@media only screen and (max-width: 520px) {
    header #header-bar > nav span{
        display: none;
    }
}
@media only screen and (max-width: 470px) {
    /*HEADER*/
    header #header-bar {
        flex-direction: column;
    }
    /*END HEADER*/
}